
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
  
  }
  .container {
    max-width: 900px; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
  }
  
  
/* ESTO SON LAS CLASES DEL HEADER*/
  .header {
    background-color: #24B324;
    padding: 10px 0;
  }
  
 

 
  .mitienda{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
  }
  

  .nav {
    display: flex;
    gap: 20px; 
  }
  
  .nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  

  .iconos {
    display: flex;
    gap: 15px; 
  }
  .fa-cart-shopping {
    cursor: pointer; 
  }
  
  .iconos i {
    font-size: 1.2em;
    color: white;
  }

 
  .botones {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    margin: 20px; 
  }
  /* botones de paginacion */
  .botones button {
    background-color: #24B324;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .botones button:hover {
    background-color: #24B324;
  }
  
#productos .grid {

  margin-top: 0px;
 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    justify-content: center;
    padding: 20px;
  }
/* ESTO ES LA CLASE DE CADA CARTA DE LA PLANTA*/
  .cartaproducto {
   
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    overflow: hidden;
    text-align: center;
    position: relative; 
    z-index: 10;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
    margin-bottom: 10px; 
    height: auto;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
  }
.cartaproducto:hover {
  transform: scale(1.05);
}

.cartaproducto img {
    width: 100%;
    height: auto;
    margin-bottom: 10px; /* Margen uniforme */
}

.cartaproducto h3 {
    font-size: 1.2em;
    margin: 10px 0; /* Margen uniforme */
}

.cartaproducto p {
    height: auto;
    margin: 10px 0; 
}

.cartaproducto .precio {
    font-size: 1.1em;
    font-weight: bold;
    color:#24B324;
    margin: 10px 0;
}
/* ESTO ES EL BOTON DE AGREGAR AL CARRITO DE CADA PLANTA*/

.botonagregar {
    background-color: #24B324;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 10px; 
    transition: 0.3s;
}

.botonagregar:hover {
  background-color: white;
  color: #24B324;
  border-color: #24B324;
  box-shadow: 0 0 10px#24B324;
}

/* ESTO ES LA CLASE DE LOS ESTILOS DEL CARRITO*/
.agregarAlCarritoDeCompras {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;

  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 80vh;
  overflow-y: auto;
}
.agregarAlCarritoDeCompras .ver {
  display: block; 
}

.agregarAlCarritoDeCompras div {
  margin-bottom: 10px; 
  padding: 5px;
}

.agregarAlCarritoDeCompras h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: black;
}
.agregarAlCarritoDeCompras .botonrojo{
  background-color: tomato;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.agregarAlCarritoDeCompras p {
  font-size: 0.8rem;
  margin: 5px 0;
  color: black;
  border-bottom: 1px solid gray;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.agregarAlCarritoDeCompras .precioTotal{
  font-weight: bold;
  text-align: center;
  font-size: 1.2rem;
}
.agregarAlCarritoDeCompras button {
  background-color: #24B324;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  font-size: 0.9em;
 
}

.agregarAlCarritoDeCompras button:hover {
  background-color: white;
  color: gray;
}
/* ESTO ES EL FOOTER */

footer {
  background-color: #24B324;
  color: white;

  text-align: center;
  
}
footer .container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  
}